ul#downArrow {
    position: relative;
    width: 40px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

ul#downArrow li {
    list-style: none;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 10px;
    animation: ani 1.8s infinite ease-in-out;
    animation-delay: calc(1s * var(--i));
}

ul#downArrow::before,
ul#downArrow::after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 30px;
    height: 3px;
    bottom: 0;
}

ul#downArrow::before {
    right: 0;
    transform: rotate(-45deg);
    transform-origin: center right;
}

ul#downArrow::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: center left;
}

@keyframes ani {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-5px);
    }

    50% {
        opacity: 1;
        transform: scale(1) translateY(20px);
    }

    100% {
        opacity: 0;
        transform: scale(0.5) translateY(40px);
    }
    
}
hr.under-link { 
    background-color: white !important; 
    height: 2px; 
    border: 0; 
    opacity: 1;
}

.social-link + hr.under-link {
  width: 0 !important;
  transition: width 0.7s cubic-bezier(0.4,0,0.2,1);
}

.social-link:hover + hr.under-link {
  width: 100% !important;
}

.get-in-touch {
  transition: background-color 0.7s cubic-bezier(0.4,0,0.2,1), color 0.7s cubic-bezier(0.4,0,0.2,1);
}

.link-underline .under-link {
  width: 0;
  transition: width 0.5s cubic-bezier(0.4,0,0.2,1);
}

.link-underline:hover .under-link {
  width: 100%;
}

.project-img-1.show {
  opacity: 1;
  transform: scale(1);
}
